body {
  display: flex
}
#views {
  border-collapse: collapse;
  margin: 10px;
}
#views tr {
  border: 0;
  border-top: 1px solid #e0e0e0;
}
#views td {
  border-bottom:1px solid #e0e0e0;
  border-spacing: 0;
  padding: 5px
}
